@import url("./customprop.scss");




.navbar{
    width: auto;
    height: fit-content;
    text-decoration: none;
    background-color: transparent;
    padding: 0.5em 2em  0.5em  2em ;
    border-bottom: 1.5px solid var(--secondary);
    border-top: 1.5px solid var(--secondary);

    
}

.navbar .row{
    border: none;
}

.logo{
    height: fit-content;
    width: fit-content;

}
